* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-align: center;
}

.button {
  display: inline-block;
  justify-content: center;
  text-align: center;   
}

.Counter-row {
  display: flex;
  justify-content: center;
  margin: 0 20%;
  flex-wrap: wrap;
}

.Counter {
  margin: 0 5%;
}